{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_width  = page.header.header_image_width|defined(900) %}
{% set header_image_height = page.header.header_image_height|defined(300) %}
{% set header_image_file = page.header.header_image_file %}
{% set header_image_url = page.media[header_image_file].url %}

{% set featurestyling = page.header.featured == 1 and categorypage != true ? true : false %}


{%if(featurestyling)%}

	<div class="list-blog featured col-md-12 avlx" data-rellax-speed="3">
		<img class="blog-featured-image" src="{{ header_image_url }}" alt="">

		{%else%}
		<div class="list-blog avlx col-md-6" data-rellax-speed="3">
			{%endif%}
			<div class="blog-wrapper">
				<div class="list-blog-header">
					{% if page.taxonomy.category %}
						<span class="tags">
							{% for category in page.taxonomy.category %}
								<a class="label label-primary label-{{ category | lower }}" href="{{ base_url }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
							{% endfor %}
						</span>
					{% endif %}

					<h3 class="blog-heading">
						<a href="{{ page.link }}">{{ page.title }}</a>
					</h3>

				</div>

				<div class="list-blog-padding blog-content">

					{% if page.summary != page.content %}
						{{ page.content|truncate(150) }}
					{% else %}
						{{ page.content }}
					{% endif %}


					{% if featurestyling %}
						<p>
							<a class="btn btn-primary" href="{{ page.url }}">Read More</a>
						</p>
					{% else %}
						<p>
							<a class="btn btn-link" href="{{ page.url }}">Read More</a>
						</p>
					{% endif %}

					{# {% if page.header.continue_link is sameas(false) %}
														<p>{{ page.content }}</p>
													{% elseif truncate and page.summary != page.content %}
														{{ page.summary }}
														<p>
															
														</p>
													{% elseif page.header.featured == 1 %}
														<p>
															<a class="btn btn-primary" href="{{ page.url }}">Read More</a>
														</p>
													{% elseif truncate %}
														{% if page.summary != page.content %}
															{{ page.content|truncate(150) }}
														{% else %}
															{{ page.content }}
														{% endif %}
														<p>
															<a class="btn btn-link" href="{{ page.url }}">Read More</a>
														</p>
													{% else %}
														<p>{{ page.content }}</p>
														{% set show_prev_next = true %}
													{% endif %} #}

				</div>
			</div>
		</div>
