<div class="sharelinks avlx {{ passedclass }}" data-rellax-speed="-3" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
	<ul class="list-unstyled">
		<li>
			<a class="sharelink facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page_url }}">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
		<li>
			<a class="sharelink twitter" href="https://twitter.com/share?url={{ page_url }}">
				<i class="fa fa-twitter"></i>
			</a>
		</li>
		<li>
			<a class="sharelink linkedin" href="https://www.linkedin.com/shareArticle?url={{ page_url }}&title={{ page.title }}&summary={{ page.summary }}&source={{ page_url }}">
				<i class="fa fa-linkedin"></i>
			</a>
		</li>
		<li>
			<a class="sharelink reddit" href="https://reddit.com/submit?url={{ page_url }}">
				<i class="fa fa-reddit"></i>
			</a>
		</li>
	</ul>
</div>
