<nav class="av-nav navbar text-white" role="navigation">
	<div class="container">
		<div class="navbar-header">
			{# <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=""></button> #}

			<a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}">
				Anton Voytenko
			</a>

            
			<a id="burgerMenu" href="#" class="navbar-toggler mobile-square burger d-flex" data-avopen="avcollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<div class="mobile-burger">
					<span class="burger-bars"></span>
				</div>
			</a>
		</div>
		<div class=" collapse avcollapse">
			<ul class="nav navbar-nav navbar-right">
				{% for page in pages.children.visible %}
					{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
					{% if config.themes.bootstrap.dropdown.enabled and page.children.visible.count > 0 %}
						<li class="dropdown {{ current_page }}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ page.menu }}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								{% set current_parent = page.active ? 'active' : '' %}
								<li class="{{ current_parent }}">
									<a href="{{ page.url }}">{{ page.menu }}</a>
								</li>
								<li class="divider"></li>
								{% for child in page.children.visible %}
									{% set current_child = (child.active or child.activeChild) ? 'active' : '' %}
									<li class="{{ current_child }}">
										<a href="{{ child.url }}">{{ child.menu }}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li class="{{ current_page }}">
							<a href="{{ page.url }}">{{ page.menu }}</a>
						</li>
					{% endif %}
				{% endfor %}
				{% for mitem in site.menu %}
					<li>
						<a href="{{ mitem.url }}">{{ mitem.text }}</a>
					</li>
				{% endfor %}

				{% if config.plugins.login.enabled and grav.user.username %}
					<li>
						<i class="fa fa-lock"></i>
						{% include 'partials/login-status.html.twig' %}</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
